<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AppVersionMapper" >
  <resultMap id="BaseResultMap" type="com.entity.AppVersion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="platform" property="platform" jdbcType="INTEGER" />
    <result column="version_no" property="versionNo" jdbcType="VARCHAR" />
    <result column="force_update" property="forceUpdate" jdbcType="INTEGER" />
    <result column="down_path" property="downPath" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="REAL" />
    <result column="app_explain" property="appExplain" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, platform, version_no, force_update, down_path, size, app_explain, create_date, 
    update_date, del_flag, create_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.AppVersionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.entity.AppVersionExample" >
    delete from app_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.AppVersion" >
    insert into app_version (id, platform, version_no, 
      force_update, down_path, size, 
      app_explain, create_date, update_date, 
      del_flag, create_by)
    values (#{id,jdbcType=BIGINT}, #{platform,jdbcType=INTEGER}, #{versionNo,jdbcType=VARCHAR}, 
      #{forceUpdate,jdbcType=INTEGER}, #{downPath,jdbcType=VARCHAR}, #{size,jdbcType=REAL}, 
      #{appExplain,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.AppVersion" >
    insert into app_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="versionNo != null" >
        version_no,
      </if>
      <if test="forceUpdate != null" >
        force_update,
      </if>
      <if test="downPath != null" >
        down_path,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="appExplain != null" >
        app_explain,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="forceUpdate != null" >
        #{forceUpdate,jdbcType=INTEGER},
      </if>
      <if test="downPath != null" >
        #{downPath,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=REAL},
      </if>
      <if test="appExplain != null" >
        #{appExplain,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.AppVersionExample" resultType="java.lang.Integer" >
    select count(*) from app_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update app_version
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.platform != null" >
        platform = #{record.platform,jdbcType=INTEGER},
      </if>
      <if test="record.versionNo != null" >
        version_no = #{record.versionNo,jdbcType=VARCHAR},
      </if>
      <if test="record.forceUpdate != null" >
        force_update = #{record.forceUpdate,jdbcType=INTEGER},
      </if>
      <if test="record.downPath != null" >
        down_path = #{record.downPath,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=REAL},
      </if>
      <if test="record.appExplain != null" >
        app_explain = #{record.appExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update app_version
    set id = #{record.id,jdbcType=BIGINT},
      platform = #{record.platform,jdbcType=INTEGER},
      version_no = #{record.versionNo,jdbcType=VARCHAR},
      force_update = #{record.forceUpdate,jdbcType=INTEGER},
      down_path = #{record.downPath,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=REAL},
      app_explain = #{record.appExplain,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.AppVersion" >
    update app_version
    <set >
      <if test="platform != null" >
        platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="versionNo != null" >
        version_no = #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="forceUpdate != null" >
        force_update = #{forceUpdate,jdbcType=INTEGER},
      </if>
      <if test="downPath != null" >
        down_path = #{downPath,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=REAL},
      </if>
      <if test="appExplain != null" >
        app_explain = #{appExplain,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.AppVersion" >
    update app_version
    set platform = #{platform,jdbcType=INTEGER},
      version_no = #{versionNo,jdbcType=VARCHAR},
      force_update = #{forceUpdate,jdbcType=INTEGER},
      down_path = #{downPath,jdbcType=VARCHAR},
      size = #{size,jdbcType=REAL},
      app_explain = #{appExplain,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>